.fundoLogin {
    background-image: url(https://img.freepik.com/fotos-gratis/nascer-do-sol-sobre-a-paisagem-montanhosa_23-2147632843.jpg?w=740&t=st=1709140758~exp=1709141358~hmac=45d64e02a49b0f80dc4dd9a2064bb8ffccb0e44a4f19b5cab1e67d3d6f9e0d43);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }